@font-face {
  font-family: "elite";
  src: url(SpecialElite-Regular.ttf) format(truetype);
}

.content {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-color: rgb(12, 12, 12);
}

.background {
  width: 40vw;
  height: 100vh;
  margin-left: 8vw;
}

.backgroundContent {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  gap: 690px;
  background-image: url(grianghraf-2VUEJvCHl44-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  color: rgb(228, 188, 59);
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(196, 196, 196, 0.1);
  height: 180px;
  width: 100%;
}

.logo img {
  width: 20%;
  height: 50%;
  margin-left: 10%;
}

.logoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-family: "Special Elite", cursive;
  font-size: 3rem;
}

.logoMotto {
  font-size: 2rem;
}

.authors {
  margin-bottom: 10px;
  font-family: "S";
}

main {
  width: 82vw;
  height: 100vh;
  margin-right: 8vw;
  background-color: rgba(22, 23, 24, 0.863);
}
